<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ProductManager</title>
</head>
<body>
  <h1>Product Manager</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form method="POST">
      <input type="text" name="name" placeholder="Назва" required>
      <input type="number" name="price" placeholder="Ціна" required>
      <input type="text" name="category" placeholder="Категорія" required>

      <button type="submit">Додати</button>
  </form>

</body>
</html>